In [1]:
import pandas as pd

C:\Users\DELL\AppData\Roaming\Python\Python311\site-packages\pandas\core\arrays\masked.py:60: UserWarning: Pandas requires version '1.3.6' or newer of 'bottleneck' (version '1.3.5' currently installed).
  from pandas.core import (

In [2]:
df=pd.read_csv('Diabetespred.csv')

In [3]:
df.shape

(499, 9)

In [4]:
df.head(10)
# 0 = not Diabetic , 1 = Diabetic

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6,148,72,35,0,33.6,0.627,50,1
1,1,85,66,29,0,26.6,0.351,31,0
2,8,183,64,0,0,23.3,0.672,32,1
3,1,89,66,23,94,28.1,0.167,21,0
4,0,137,40,35,168,43.1,2.288,33,1
5,5,116,74,0,0,25.6,0.201,30,0
6,3,78,50,32,88,31.0,0.248,26,1
7,10,115,0,0,0,35.3,0.134,29,0
8,2,197,70,45,543,30.5,0.158,53,1
9,8,125,96,0,0,0.0,0.232,54,1

In [6]:
#split the dataset according to dependent and independent variable
# X = here independent variable are Glucose,age,BMI,BloodPressure
# Y= dependent variable is Outcome

x=df[['Glucose','BloodPressure','Age','BMI']]
y=df[['Outcome']]

In [7]:
x.head()

   Glucose  BloodPressure  Age   BMI
0      148             72   50  33.6
1       85             66   31  26.6
2      183             64   32  23.3
3       89             66   21  28.1
4      137             40   33  43.1

In [8]:
y.head()

   Outcome
0        1
1        0
2        1
3        0
4        1

In [9]:
#now we train the model 
#first we import the class train_test_split
from sklearn.model_selection import train_test_split

In [10]:
#we split the dataset for training and testing
#training 80% and testing 20%

X_train, X_test, y_train, y_test = train_test_split(x,y,test_size=0.2,random_state=10)

In [11]:
len(X_train)

399

In [12]:
len(X_test)

100

In [13]:
#we use the Gaussian naive bayes class
from sklearn.naive_bayes import GaussianNB

In [14]:
#create the object of gaussian class
model=GaussianNB()

In [15]:
#now we train the model with the help of X_train and y_train
model.fit(X_train,y_train)

C:\Users\DELL\AppData\Roaming\Python\Python311\site-packages\sklearn\utils\validation.py:1184: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

GaussianNB()

In [16]:
#now we predict(Test) the model 
model.predict(X_test)

array([0, 0, 1, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1,
       0, 1, 0, 0, 1, 1, 0, 1, 1, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 1, 0,
       1, 0, 1, 0, 0, 0, 1, 0, 0, 1, 0, 1, 1, 1, 0, 0, 0, 1, 0, 1, 0, 0,
       1, 1, 0, 1, 0, 1, 0, 0, 0, 1, 0, 0, 0, 1, 0, 1, 1, 0, 1, 0, 1, 0,
       0, 0, 1, 0, 0, 0, 1, 0, 0, 0, 1, 0], dtype=int64)

In [17]:
X_test.head(20)

     Glucose  BloodPressure  Age   BMI
151      114             65   37  21.9
423      115             64   21  30.8
154      188             78   43  47.9
190      111             62   21  22.6
131      122             56   33  33.3
310       80             66   41  26.2
266      138              0   25  36.3
494       80              0   22   0.0
157      109             56   23  25.2
282      133             88   37  32.4
451      134             70   23  28.9
152      156             86   42  34.3
164      131             88   32  31.6
219      112             66   41  37.8
351      137             84   30  31.2
432       80             74   22  30.0
43       171            110   54  45.4
47        71             70   22  28.0
466       74             52   22  27.8
208       96             64   21  33.2

In [18]:
model.score(X_test,y_test)

0.75